/*Code by Rowan Guarnagia-Gryder*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:600');

body {
/*    background-color: #111111;*/
    background: #000;
    height: auto;
}

a {
	font-family: 'Work Sans', sans-serif;
    color: #fff;
}

div p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

nav p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.contentStack p, h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.linkContainer{
    width: 100%;
    display: inline-block;
}

.index {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 6em;
    right: 0%;
    height: auto;
    width: 25%;
    transition: .3s;
    z-index: 7;
    transform: translate(100%,0%);
}

.indexButton {
    position: fixed;
    top: 6em;
    right: 0em;
    height: auto;
    transition: .3s;
    mix-blend-mode: difference;
    z-index: 7;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.indexHeader {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    position: relative;
    height: 2em;
    top: 1em;
}

.headerI {
    margin-top: -.1em;
    transition: .3s;
}

.indexHeader:hover .headerI{
    margin-top: -1.25em;
    color: #f55;
}

.indexLinks {
    position: relative;
    left: 1em;
}

.upperContainer {
    position: relative;
    left: .4em;
    width: 100%;
    display: inline-block;
    transition: .2s;
}

.navBar {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;
    mix-blend-mode: difference;
}

.navBar .mainLinks {
    float: left;
    color: #fff;
    text-align: left;
    text-decoration: none;
    transition: .2s;
/*    font-size: 3.5em;*/
}

.menuIconContainer {
    display: inline-block;
    cursor: pointer;
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 2.5em;
    height: .5em;
    background: #fff;
    margin: .4em;
    transition: .3s;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(.7em,.7em);
    transform: rotate(-45deg) translate(-.7em,.7em);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-.7em,.7em);
    transform: rotate(45deg) translate(-.6em,-.6em);
}

.change .link .mainLinks {
    -webkit-transform: translate(0em,0);
    transform: translate(0em,0);
} 

.change .upperContainer {
    -webkit-transform: translate(0em,0);
    transform: translate(0em,0);
}

.headerName {
    display: inline-block;
    font-weight: 400;
    position: relative;
    color: #ffffff;
    font-size: 4.5em;
    text-align: left;
    letter-spacing: .01em;
    text-decoration: none;
    mix-blend-mode: difference;
    transition: .2s;
/*    padding-right: 30%;*/
    margin-bottom: 42vh;
}
.headerName:hover {
  color: #888888;
}

.mainLinks {
    display: inline-block;
    color: #ffffff;
/*    font-family: sans-serif;*/
    font-size: 3.5em;
    font-weight: 600;
    text-transform: lowercase;
    text-align: left;
    position: relative;
    text-decoration: none;
    mix-blend-mode: difference;
    transition: .2s;
    z-index: 4;
    -webkit-transform: translate3d(0, 0, 4);
    transform: translate(0,0,4);
}
.mainLinks:hover {
  color: #888888;
}
.copyright {
    bottom: -1%;
    clear: left;
    font-family: sans-serif, monospace;
    color: #222;
    text-transform: uppercase;
    font-size: .7em;
    text-align: justify;
    letter-spacing: .1em;
/*  mix-blend-mode: difference;*/
    float: left;
    position: fixed;
    z-index: 5;
    -webkit-transform: translate3d(0, 0, 5)
}

/*Designs*/

.orb0 {
  height: 22vh;
  width: 22vh;
  border-radius: 50%;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: -1;
  background: #fff;
  animation: drop unlimited 8s;
}
.orb.sub0 {
  top: 21.97802197802198vh;
    z-index: -1;
}
.orb.sub1 {
  right: 21.97802197802198vh;
    z-index: -1;
}
.orb.sub2 {
  right: 21.97802197802198vh;
  top: 21.97802197802198vh;
    z-index: -1;
}

.lines {
    height: 100vh;
/*    background: linear-gradient(#00baff, #433dd9);*/
/*    background: linear-gradient(#ffed89, #ebff00);*/
/*    background: linear-gradient(#0000ff, #0000ff);*/
    background: #fff;
    width: 15.5em;
    left: 0;
    top: 0;
    position: fixed;
    overflow: hidden;
}

.line {
    position: relative;
    left: -15vw;
    top: -30vh;
/*    background: #111;*/
    background: #000;
    width: 60vw;
    height: 3vh;
    transform: rotate(-45deg);
    margin-bottom: 5.7vh;
}

/*Work Styling*/

.description {
    position: relative;
    display: grid;
    color: #fff;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    text-align: right;
    right: 10vw;
    margin-top: 3em;
    text-transform: lowercase;
/*    border-top: dotted .5em #f55;*/
}
.portfolioImage {
    max-width: inherit;
/*    width: 80vw;*/
    height: 90vh;
    width: auto;
    display: block;
    margin: auto;
    
}

.portfolioImageWide {
    max-width: inherit;
    width: inherit;
    display: block;
    margin: auto;
    
}

.portfolioVideo {
    max-width: inherit;
    width: inherit;
/*    height: auto;*/
    padding-right: 1vh;
    display: block;
    margin: auto;
    z-index: 8;
}
.imgContainer {
    max-width: 1024px;
    width: 100%;
    position: relative;
    margin-bottom: 1em;
}
.imageStack {
    width: 80vw;
    height: auto;
    overflow: none;
    position: absolute;
    right: 0%;
    top: 6em;
}
.contentStack {
    position: absolute;
    width: 80vw;
    height: auto;
    overflow: none;
    position: absolute;
    right: 0%;
    top: 6em;
    z-index: 5;
    mix-blend-mode: difference;
}
.albumImage {
    width: 100%
}

.album {
    display: block;
    float: left;
    margin-right: 1em;
    width: 30%;
}
.center{
    display: block;
    margin: auto;
}

.textContent {
    mix-blend-mode: difference;
}

@media screen and (max-width: 700px) {
    
    .menuIconContainer {
        position: fixed;
        float: right;
        display: block;
        top: .5em;
        right: .5em;
    }
    
    .headerName {
        top: .15em;
        left: .15em;
        font-size: 2.5em;
    }
    
    .navBar .change {
        -webkit-transform: translate(0em,0);
        transform: translate(0em,0);
    }
    
    .upperContainer {
        -webkit-transform: translate(-30em,0);
        transform: translate(-30em,0);
    }
    
    .imageStack {
        width: 94vw;
        left: 3vw;
    }
    
    .lines {
        width: 2em;
    }
    
    .description {
        font-size: 1.5em;
    }
    
    .index {
        width: 100%;
        font-size: 1.6em
    }
}